body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-info{
  margin-top: 20px;
  text-align: center;
}
.game-board{
  background-color: #f4f4f4;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 10px;
  box-sizing: 0 2px 5px rgba(0,0,0,0.1);
}
.square{
  background-color: #f4f4f4;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333333;
}
.square:hover{
  background-color: #f2f2f2;
}
.winner-square{
  background-color: #4caf50;
  color: #444141;
}
.status{
  font-size: 24px;
  margin-bottom: 10px;
}
ol{
  padding: 0;
  list-style-type: none;
  text-align: left;
}
li{
  margin: 5px 0;
}
button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover{
  background-color: #0056b3;
}
